body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    background: #fff;
    margin-left: 4%;
    margin-right: 4%;

    padding: 0;
    margin: 0;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.top-lvl {
    padding: 0 20px;
}
.parent {
    display: block;
    position: relative;
    float: left;
    line-height: 50px;
    background-color: #fff;
}

.parent a {
    margin: 10px;
    color: #333;
    text-decoration: none;
}

.parent:hover > ul {
    display: block;
    position: absolute;
}

.child {
    display: none;
}

.grandchild {
    display: none;
    position: absolute;
    top: -3px;
    border-top: #1cad75 3px solid;
}

.child li {
    background-color: #fff;
    line-height: 40px;
    width: 100%;
}

.child li a {
    color: #000000;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0px;
    min-width: 8.65em;
}

ul ul ul {
    left: 100%;
    top: 0;
    margin-left: 1px;
}

.child {
    border-top: #1cad75 3px solid;
}

/* ----------------------------------------------------- */

/* .parent {
    display: flex;
    align-items: center;
    justify-content: center;
} */

/* .arrow-dispay {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.arrow::after {
    background-image: url('assets/arrow.png');
    background-size: 20px 20px;
    background-position: center;
    display: inline-block;
    width: 10px; 
    height: 20px;
    content:"";
} */

.mobile-wrapper {
    visibility: hidden;
}
@media only screen and (max-width: 600px) {
    *,
    *::after,
    *::before {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    header {
        display: none;
    }

    .mobile-wrapper {
        visibility: visible;
        display: flex;
        justify-content: center;
        font-family: sans-serif;
    }

    .container {
        position: relative;
        margin: 3rem;
        padding: 3rem;
        height: 600px;
        text-align: center;

        border-radius: 1em;
        width: 100%;
    }

    .container h1 {
        margin-bottom: 2rem;
    }

    .menu-items {
        text-align: center;
        position: absolute;
        padding: 5rem;
        /* margin-top: -6rem;
    margin-left: -1rem; */
        top: 0;
        left: 0;
        list-style: none;
        opacity: 0;
        font-size: 2rem;
        border: 4px solid black;
        background-color: black;
        border-radius: 0.25em;
        transform: translateX(-10%);
        transition: transform 100ms ease-in-out, opacity 200ms;
    }

    .menu-items li {
        color: white;
        padding: 0.5rem;
    }

    .menu-items li a {
        color: white;
        text-decoration: none;
    }

    .menu-items li a:hover {
        color: rgb(174, 174, 174);
    }

    .check {
        position: absolute;
        top: 0;
        right: 0;
        height: 3rem;
        width: 3rem;
        opacity: 0;
        z-index: 3;
    }

    .check:hover {
        cursor: pointer;
    }

    .check:checked ~ .menu-items {
        display: block;
        transform: translateX(0%);
        opacity: 1;
    }

    .ham-menu {
        height: 3rem;
        width: 3rem;
        position: absolute;
        top: 0;
        right: 0;
        padding: 0.5rem;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: black;
        border-radius: 0.25em;
    }

    .ham-menu .line {
        background-color: white;
        border-radius: 1em;
        width: 2rem;
        height: 0.25rem;
    }

    .ham-menu .line1 {
        transform-origin: 0% 0%;
        transition: transform 100ms ease-in-out;
    }

    .ham-menu .line3 {
        transform-origin: 0% 100%;
        transition: transform 100ms ease-in-out;
    }

    .check:checked ~ .ham-menu .line1 {
        display: block;
        transform: rotate(45deg);
    }

    .check:checked ~ .ham-menu .line2 {
        opacity: 0;
    }

    .check:checked ~ .ham-menu .line3 {
        display: block;
        transform: rotate(-45deg);
    }
}
